@page
@model IndexModel
@{
    ViewData["Title"] = "Game Of Life";
}

<style>

    canvas {
        background: white;
        /*border: 1px solid black;*/
    }
</style>

<div class="text-center">
    <h1 class="display-4">Game Of Life</h1>
    <div id="boarddiv">
        <canvas id="board">Canvas not supported</canvas>
    </div>
</div>
<button id="sendButton"></button>

<script src="~/signalr/dist/browser/signalr.js"></script>
<script src="~/js/gameOfLIfeCanvas.js"></script>
@*<script src="~/js/Game.js"></script>*@
@*<script src="~/js/gameoflife.js"></script>*@